<section id="flight" class="container">
    <h1>All Officers</h1>

    
        {{#each Officer}}
    <div class="flight">
       <h3>Officers details:</h3>
      <p>Name: {{firstName}} {{lastName}}</p>
      <ul><li>phone: {{phone}}</li>
          <li>salary: ${{salary}}</li>
          <li>id {{id}}</li></ul>
    </div>
      {{else}}
    <p>No data available</p>
     {{/each}}
  </section>